
@{
    ViewBag.Title = "EmployeeHome";
}

<h2>EmployeeHome</h2>

<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("View Policies", "ViewPolicies", "Employee")</li>
    <li>@Html.ActionLink("Job Application", "Apply", "Home")</li>
</ul>

