
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
        <h2>Welcome to the HR Portal.</h2>
        <p>New employees can apply here and view our policies.</p>
        <p>Our HR personnel can manage the policies.</p>
        <p>To Apply Click Here:</p>
        <h4>@Html.ActionLink("Job Application", "Apply", "Home")</h4>
    </div>
</div>

