@model HRPortal.Models.Category
@{
    ViewBag.Title = "Add Category";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Category</h3>
        @Html.ActionLink("Return to Category Manager", "ManageCategories", "HR")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Category</label>
                @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control", placeholder = "Category" })
            </div>
            <button type="submit" name="redirect" value="true" class="btn btn-sm btn-primary">Save and return to manage categories</button>
            <button type="submit" name="redirect" value="false" class="btn btn-sm btn-primary">Save and return to add Policy</button>
        }
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
